<%= form_for hero, :html => {:class => "form-horizontal form-heroes"} do |form| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :image, "image:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.file_field :image, class: 'form-control', accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :bio, "bio:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_area :bio %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :release, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.date_select :release %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :video, "video:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :video, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :realName, "realName:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :realName %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :occupation, "occupation:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :occupation %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :baseOperations, "baseOperations:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :baseOperations %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :affiliations, "affiliations:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :affiliations %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :name, "Name:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
