<h2>
  <%= @hero.name %>'s Story
</h2>

<ul>
    <li>
        <strong>Realname:</strong>
        <%= @hero.realName %>
    </li>

    <li>
        <strong>Occupation:</strong>
        <%= @hero.occupation %>
    </li>

    <li>
        <strong>Baseoperations:</strong>
        <%= @hero.baseOperations %>
    </li>

    <li>
        <strong>Affiliations:</strong>
        <%= @hero.affiliations %>
    </li>
</ul>

<p>
  <strong>Bio:</strong>
  <%= @hero.bio %>
</p>