<body>
<div class="container px-4" id="body-app">  
  <p id="notice"><%= notice %></p>

  <div class="container">
    <%= image_tag "maxresdefault.gif", :class => "img-fluid ow-header" %>
  </div>

  <div class="grid">
    <div class="container">
      <%= render 'heros/overview' %>
    </div>
    <div class="container">
        <%= render '/heros/table' %>
    </div>
  </div>

  <div class="container">
    <%= link_to 'New Hero', new_hero_path %>
  </div>
</div>
</body>