<%= form_with(model: hero, local: true) do |form| %>
    <% if @heros.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>
  
        <ul>
        <% hero.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>

  
    <div class="field">
      <%= form.label :headerImg %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
    <div class="field">
      <%= form.label :bio %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
    <div class="field">
      <%= form.label :video %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
    <div class="field">
      <%= form.label :occupation %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
    <div class="field">
      <%= form.label :affiliations %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
    <div class="field">
      <%= form.label :realName %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
    <div class="field">
      <%= form.label :baseOperations %>
      <%= form.text_area(:data, cols: 100, rows: 5) %>
    </div>
  
  
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>