<!DOCTYPE html>
<html>
  <head>
    <title>Overwatch Heroes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render '/layouts/imports' %>
    <%= render '/layouts/stylesheets' %>
    <%= render '/layouts/javascript' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render '/layouts/navbar' %>
  </head>

  <div class="container px-4" id="body-app">  
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <!---The following line allows ruby to display all the other page content.---!>
    <%= yield %>
  </div>
</html>
